{% extends 'base.html' %}
{% block content %}
<div class="w3-container w3-margin-top">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="w3-panel w3-red w3-card w3-round w3-padding w3-animate-opacity">
            <ul class="w3-ul">
                {% for message in messages %}
                    <li class="w3-text-white">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% endwith %}   
    <table id="studentTable" class="w3-table-all">
        <thead>
            <tr>
                <th>IDNO</th>
                <th class="w3-hide-small w3-hide-medium">LASTNAME</th>
                <th class="w3-hide-small w3-hide-medium">FIRSTNAME</th>
                <th class="w3-hide-large w3-hide-medium">NAME</th>
                <th>SITIO</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for student in youths %}
            <tr data-student-id="{{ student.idno }}">
                <td>{{ student.idno }}</td>
                <td class="w3-hide-small w3-hide-medium">{{ student.lastname }}</td>
                <td class="w3-hide-small w3-hide-medium">{{ student.firstname }}</td>
                <td class="w3-hide-large w3-hide-medium">{{ student.firstname }}, {{ student.lastname }}</td>
                <td>{{ student.sitio }}</td>
                <td>
                    <button onclick="editStudent('{{ student.idno }}')">&#9998;</button>
                    <button onclick="deleteStudent('{{ student.idno }}')">&#128465;</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  

    <script>
        function editStudent(studentId) {
            var row = document.querySelector('#studentTable tr[data-student-id="' + studentId + '"]');
            var idno = row.cells[0].textContent;
            var lastname = row.cells[1].textContent;
            var firstname = row.cells[2].textContent;
            var sitio = row.cells[4].textContent;

            document.getElementById('idno').value = idno;
            document.getElementById('lastname').value = lastname;
            document.getElementById('firstname').value = firstname;
            document.getElementById('sitio').value = sitio;

            var form = document.getElementById('studentForm');
            form.action = '/edit/' + studentId;

            const saveButton = document.querySelector('#studentForm input[type="submit"]');
            saveButton.value = 'UPDATE';
        }

        function deleteStudent(studentId) {
            if (confirm('Are you sure you want to delete this student?')) {
                fetch('/delete/' + studentId, { method: 'GET' })
                .then(response => {
                    if (response.ok) {
                        document.querySelector('#studentTable tr[data-student-id="' + studentId + '"]').remove();
                    } else {
                        console.error('Failed to delete student.');
                    }
                }).catch(error => console.error('Error:', error));
            }
        }
    </script>
</div>
{% endblock %}
